<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
    <%- partial('_partial/header') %>
    <%- partial('_iframe/iframeLeft') %>
    <%- partial('_iframe/iframeRight') %>
    <%- partial('_partial/footer') %>
    <%- js('js/jquery.min.js') %>
    <%- js('js/gloabl.js') %>
    </body>
</html>
<script>
    UTONE.comment.init();
</script>