<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <% var title = page.title; if (is_archive()){ title = __('archives'); if
    (is_month()){ title += ' - ' + page.year + '/' + page.month; } else if
    (is_year()){ title += '-' + page.year; } } else if (is_category()){ title =
    __('category') + ' - ' + page.category; } else if (is_tag()){ title =
    __('tags') + ' - ' + page.tag; } %>
    <title><% if (title){ %> <%= title %> - <% } %> <%= config.title %></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <%- css('css/style') %> <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>" />
    <% } %>
  </head>

  <body>
    <div id="container">
      <div id="main-left">
        <div id="introduce">
          <div class="logo-worp">
            <img class="logo" src="<%- theme.logo %>" alt="" />
          </div>
          <ul>
            <% for (var i in theme.menu){ %>
            <li><a href="<%- url_for(theme.menu[i]) %>"> <%= __(i) %> </a></li>
            <% } %>
          </ul>
          <% if (page.content && !is_current('about')){ %> <%- toc(page.content,
          {class: 'post-toc'}) %> <% } %>
        </div>
      </div>
      <div id="main-right"><%- body %></div>
    </div>
    <div id="footer"><%= __('powered_by') %></div>
  </body>
</html>
<script src="//cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>

<script>
  window.onload = function() {
    _scrollFixed()
  }

  /**
   * 滚动固定左侧栏
   **/
  function _scrollFixed() {
    /**
     * 原生offsetTop取值为相对于父元素， jquery的offset().top是取的距离屏幕顶部的距离
     * 所以这里取父元素的offestTop
     **/
    var _parentDom = document.getElementById('main-left')
    var _offectTop = _parentDom.offsetTop

    var _needTopDom = document.getElementById('introduce')

    window.onscroll = function() {
      /**
       * 获取滚动距离document的高度
       *
       * 声明了<!DOCTYPE html>，使用document.documentElement.scrollTop
       * 没有声明，使用document.body.scrollTop
       *
       **/
      var _scrollTop =
        document.body.scrollTop || document.documentElement.scrollTop

      // 32为距离顶部的流出的距离相当于2rem
      if (_scrollTop > _offectTop - 32) {
        _needTopDom.classList.add('fixed')
      } else {
        _needTopDom.classList.remove('fixed')
      }
    }
  }
</script>
