<main id="post" class="article-entry">
    <h2 class="post-title">
        <%- page.title %>
        <span class="main-post-date"><%- date(page.date, "YYYY/MM/DD") %></span>
    </h2>
    <article class="post-content">
        <%- page.content %>
    </article>
    <!-- 前后页  -->
    <ul class="post-pager">
        <% if (page.prev){ %>
        <li class="previous">
            <a href= "<%- url_for(page.prev.path) %>" title= <%- page.prev.title %> >
                <span>上一篇：</span>
                <span><%- page.prev.title || '[Untitled Post]' %></span>
            </a>
        </li>
        <% } %>
        <% if (page.next){ %>
        <li class="next">
            <a href= "<%- url_for(page.next.path) %>" title= <%- page.next.title %> >
                <span>下一篇：</span>
                <span><%- page.next.title || '[Untitled Post]' %></span>
            </a>
        </li>
        <% } %>

    </ul>
</main>